.logoStyle {
  width: 30px;
  height: auto;
}

.navStyle {
  display: flex;
  justify-content: space-between; /* Adjusted for even spacing across the top */
  align-items: center; /* Optional: Aligns items vertically in the center */
  width: 100%; /* Ensures the nav bar spans the full width */
  background: #333; /* Background color for the nav bar */
  padding-top: 10px;    /* Add desired top padding */
  padding-bottom: 10px; /* Add desired bottom padding */
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  left: 0; /* Align to the left */
}

.navItemStyle {
  color: #fff; /* Optional: Sets the text color to white */
  text-decoration: none; /* Optional: Removes the underline from the links */
  margin-right: 10px;
}

.navRow {
  flex: 1; /* This makes each section take up equal space */
  display: flex;
  justify-content: center; /* Center the content in each section */
  align-items: center;
}