:root {
  --black: black;
  --body: "Source Code Pro", sans-serif;
  --white: white;
  --brand: #3673f5;
  --pixel: "Pixelify Sans", sans-serif;
  --brand-darker: #0b2358;
  --secondary-text: #7e7e7e;
  --outline: #424242;
  --font-family: Urbanist, sans-serif;
  --green: #3ff480;
  --dark-bg: #061536;
  --placeholder-text: #616161;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 90%;
  border-left-color: #3673f5;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.body {
  background-color: var(--black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.game-title {
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.title-block {
  width: 100%;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
}

.title-block.players {
  width: 100%;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  top: 0%;
}

.stripes {
  width: 100%;
  height: 32px;
  background-image: url('../images/stripes.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 848px;
  overflow: visible;
}

.stripes.right {
  background-position: 0 0;
}

.stripes.bottom {
  background-position: 50%;
  background-repeat: repeat-x;
}

.wrapper {
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 120px 24px 0px 24px;
  display: flex;
  position: static;
}

.thin-wrapper {
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 24px;
  display: flex;
  position: static;
}

.bottom-wrapper {
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 0px 120px 0px;
  display: flex;
  position: static;
}

.wrapper.players {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  margin-top: 64px;
  padding-top: 24px;
  display: block;
}

.paragraph {
  width: 100%;
  max-width: 500px;
  font-family: var(--body);
  color: var(--white);
  text-align: center;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 150%;
}

.paragraph.tagline {
  color: var(--brand);
  font-size: 14px;
  line-height: 150%;
}

.paragraph.tagline.winner {
  font-family: var(--pixel);
  color: var(--brand-darker);
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.paragraph.tagline.darker {
  color: var(--brand-darker);
}

.paragraph.address {
  width: auto;
}

.sculpture {
  max-width: 500px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: static;
  top: 0;
}

.timer {
  font-family: var(--body);
  color: var(--secondary-text);
}

.button {
  width: 100%;
  max-width: 500px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: var(--brand);
  font-family: var(--body);
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}

.text-block {
  font-family: var(--body);
  color: var(--brand);
  text-decoration: none;
}

.chevron {
  width: 20px;
  height: 20px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.primary-button {
  width: 100%;
  max-width: 500px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  background-color: var(--brand);
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.primary-button.link {
  width: auto;
  background-color: var(--black);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  padding-left: 0;
  padding-right: 0;
}

.primary-button.icon {
  background-color: var(--brand);
  padding-left: 24px;
  padding-right: 24px;
}

.main-content {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.main-content.playerlist {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.secondary-actions {
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 0;
  padding-bottom: 0; */
}

.credits {
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.credits img, .credits a {
  height: 63.2455532%; /* This ensures that the anchor and img have the same height reference */
  display: flex;
  align-items: center; /* Aligns children (img) vertically */
  padding: 0px 2px 0px 2px;
}

.footer {
  background-color: var(--black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-field {
  width: 100%;
  height: 54px;
  border: 1px solid var(--outline);
  background-color: var(--black);
  font-family: var(--body);
  border-radius: 4px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 150%;
}

.text-field:hover, .text-field:active, .text-field:focus {
  border-color: var(--brand);
}

.text-field:focus-visible {
  height: 52px;
}

.text-field[data-wf-focus-visible] {
  height: 52px;
}

.text-field::-ms-input-placeholder {
  color: var(--outline);
}

.text-field::placeholder {
  color: var(--outline);
}

.form {
  width: 100%;
}

.form-block {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.display {
  font-family: var(--font-family);
  color: var(--brand);
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.display.winning_number {
  color: var(--green);
}

.user-entry {
  width: 100%;
  border: 1px solid var(--brand);
  background-color: var(--dark-bg);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.user-entry.winner-list {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.user-entry.invert {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  background-color: var(--brand);
  padding-left: 16px;
  padding-right: 16px;
}

.text-block-2 {
  font-family: var(--pixel);
  color: var(--brand);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.image {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 24px;
  right: auto;
}

.player {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  align-items: center;
}

.avatar {
  width: 40px;
  border-radius: 100px;
}

.avatar.smaller {
  width: 24px;
}

.button-text {
  font-family: var(--body);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-block-3 {
  font-family: var(--body);
}

.error-message {
  border-radius: 4px;
}

.success-message {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

@media screen and (max-width: 991px) {
  .body {
    background-color: var(--black);
  }
}

@media screen and (max-width: 479px) {
  .title-block {
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .title-block.players {
    width: 100%;
    background-color: var(--black);
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .stripes {
    aspect-ratio: auto;
    padding-right: 5px;
    overflow: auto;
  }

  .wrapper {
    height: auto;
    justify-content: center;
    margin-top: 0;
    padding-top: 120px;
    position: static;
  }

  .wrapper.players {
    justify-content: flex-start;
    margin-top: 64px;
    padding-top: 24px;
  }

  .paragraph.tagline {
    color: var(--brand);
    padding-left: 24px;
    padding-right: 24px;
  }

  .paragraph.tagline.winner {
    font-family: var(--pixel);
    color: var(--brand-darker);
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
  }

  .paragraph.tagline.darker {
    opacity: .7;
  }

  .sculpture {
    width: 100%;
  }

  .main-content {
    width: 100%;
    max-width: 500px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .main-content.playerlist {
    align-items: flex-start;
    display: flex;
  }

  .footer {
    position: fixed;
  }

  .text-field {
    height: 52px;
  }

  .display {
    line-height: 150%;
  }

  .user-entry.invert {
    background-color: var(--brand);
  }

  .player {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    align-items: center;
  }

  .avatar {
    width: 40px;
    border-radius: 100px;
  }
}